.current {
    width: 100%;
    height: auto;
    position: relative;

    .current-card {
        height: 90%;
        background-color: $site-gray;
        position: relative;
        padding-top: 6px;


        .header {
            padding-left: 58px;
            color: $site-white;
            font-family: Arial, Helvetica, sans-serif;
            font-variant-caps: all-petite-caps;
            font-size: 16px;
            letter-spacing: 2px;
            background-color: $site-black;
            font-weight: lighter;
            height: 35px;
            margin-top: -5px;


            .tz-id {
                color: $site-white;
                font-variant-caps: all-petite-caps;
                letter-spacing: 2px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 13px;
                font-weight: lighter;
                min-height: 40px;
                opacity: 50%;
                width: auto;
                margin-top: 36px;
                margin-left: 20px;
            }
        }

        .cur-wrapper {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            .left-content {
                width: 100%;
                text-align: center;
                padding: 0px;


                .location {
                    display: flex;
                    align-items: center;
                    height: 40px;
                    text-align: left;
                    white-space: nowrap;
                    padding: 0px;
                    padding-top: 15px;
                    flex-direction: column;
                    max-width: 60%;
                    margin: 0 auto;

                    p {
                        color: $site-white;
                        font-family: Arial, Helvetica, sans-serif;
                        letter-spacing: .4px;
                        padding-bottom: 30px;
                        padding-right: 10px;
                        letter-spacing: 3px;
                        font-weight: 500;
                        font-size: 20px
                    }

                    .time {
                        color: $site-white;
                        font-variant-caps: all-petite-caps;
                        letter-spacing: 1px;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: 400;
                        font-size: 14px;
                        margin-top: -45px;
                        opacity: 80%;

                    }

                    img {
                        margin-top: -40px;
                        height: 90px;
                        width: 90px;
                    }

                    .cur-temp {
                        color: $site-white;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-variant-caps: all-petite-caps;
                        letter-spacing: 2px;
                        font-size: 20px;
                        font-weight: 400;
                        margin-top: -20px;

                    }

                    .current-weather-text {
                        color: $site-white;
                        font-variant-caps: all-petite-caps;
                        letter-spacing: 1px;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: lighter;
                        width: auto;
                        font-size: 16px;
                        font-weight: 400;
                        margin-top: 20px;

                    }
                }

                .temp-wrapper {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    align-items: center;
                    margin: 0 auto;
                    width: 70%;
                    padding-bottom: 360px;

                }
            }

            .cur-details {
                height: 122px;
                display: flex;
                justify-content: center;
                margin-right: 80px;
                background-color: $site-black;
                width: 100%;
                position: absolute;
                bottom: 0px;


                .column1 {
                    height: 100%;
                    color: $site-white;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    line-height: 10px;
                    letter-spacing: .4px;
                    padding: 20px 20px;
                    width: 15%;

                    .row {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }

                .divider {
                    width: .1px;
                    background-color: $site-black;
                    height: 100%;
                    margin: 0px 80px;
                }

                .column2 {
                    height: 100%;

                    color: $site-white;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    line-height: 10px;
                    letter-spacing: .4px;
                    padding: 20px 20px;
                    width: 15%;


                    .row {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
            }

        }


    }

    h1 {
        color: $site-white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100px;
        margin-top: -30px;
        margin-left: 6px;
    }
}