 .header {
     height: 80px;
     background-color: $site-black;
     display: flex;
     align-items: center;
     overflow: hidden;
     position: relative;

     .searchbar {
         background-color: #E8F0FE;
         border-radius: 100px;
         width: 500px;
         height: 35px;
         margin: 200px auto;
         display: flex;
         align-items: center;
         justify-content: space-between;

         input {
             max-width: 100%;
             border-radius: 100px;
             background-color: transparent;
             border: none;
             outline: none;
             font-size: 14px;
             font-family: Arial, Helvetica, sans-serif;
             letter-spacing: .8px;
             padding: 10px 35px 10px 25px;
         }

         button {
             font-size: 16px;
             background-color: transparent;
             color: $site-black;
             border: none;
             outline: none;
             cursor: pointer;
             margin-right: 26px;
         }
     }

     .nav-links {
         padding-right: 30px;
         position: absolute;
         right: 10px;

         a {
             text-decoration: none;
             color: $site-white;
             font-size: 16px;
             font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
             font-variant-caps: all-petite-caps;
             padding: 0px 14px;
             letter-spacing: 1px;
             transition: all 0.2s ease-in-out;

             &:hover {
                 color: $site-black;
                 transition: all 0.2s ease-in-out;
             }
         }
     }
 }

 @media screen and (max-width: 900px) {
     .header {
         .logo {
            display: none;
         }
         .nav-links {
            display: none;
         }
         .searchbar {
            width: 90%;
         }
     }
 }

 @keyframes animate {
     0% {
         transform: scale(1, 1);
     }

     100% {
         transform: scale(1, 0);
     }
 }