* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-image: linear-gradient(rgba(#1685b1, .78), 
            rgba(#1685b190, .64)), url(../images/background-img.jpg);
    
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 16px
}

p {
    text-transform: capitalize;
}

 