// Colors 
$site-white:#fffffff3;
$site-darker-black: #0d0d1ad9;
$site-black: #1a193ad9;
$transparent: #00000006;
$site-gray: #1685b100;
$site-blue: #095ea4bf;
$site-yellow:  #f2d478d5;
$site-secondary-blue: #0a65b0f1;